<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="title">Der Locator</h1>
            </div>
        </header>
        
        {% block content %}
        {% endblock %}

    </body>
</html>